<!-- <label>Server Name DataBinding</label> -->

<!--Event databinding-->
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)" /> -->

<div class="form-group custom-form">
  <label>Server Name</label>
  <!--Two way databinding using directive ngModel-->
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName" />

  <!--String interpolation-->
  <!-- <p>{{ serverName }}</p> -->

  <!--Event-->
  <button class="btn btn-primary form-control"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
  </button>
</div>

<hr/>

<div>
  <!--*ngIf="serverCreated; else noServer"-->
  <span *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</span>
  <!--Caso de else-->
  <!-- <ng-template #noServer>No server created</ng-template> -->
</div>

<!--Render component by selector-->
<app-server></app-server>
<app-server></app-server>

<!--Exercicio 2-->
<!-- <input
    type="text"
    class="form-control"
    [(ngModel)]=username />

<p>{{userName}}</p>
<button class="btn btn-primary form-control"
  [disabled]="usernameIsNull()"
  (click)="resetUserName()">Reset
</button>
<p>{{username}}</p> -->